server:
  port: 9002

logging:
  level:
    root: ERROR
    online.library: DEBUG

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      fetchRegistry: true
    instance:
      preferIpAddress: true

spring:
  application:
    name: author-api
  cloud:
    loadbalancer:
      ribbon:
        enable: false